FootService.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.projet.web.foot" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="FootWeb" targetNamespace="http://www.projet.web.foot">
  <wsdl:types>
<schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.projet.web.foot" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://www.w3.org/2001/XMLSchema">
  
  <import namespace="http://www.projet.web.foot" schemaLocation="http://localhost:8080/projet.web.foot/services/FootService?xsd=footwebservice_schema1.xsd"/>

</schema>
  </wsdl:types>
  <wsdl:message name="addTeamResponse">
    <wsdl:part element="tns:addTeamResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPlayerResponse">
    <wsdl:part element="tns:addPlayerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addTeam">
    <wsdl:part element="tns:addTeam" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteTeam">
    <wsdl:part element="tns:deleteTeam" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPlayer">
    <wsdl:part element="tns:addPlayer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteTeamResponse">
    <wsdl:part element="tns:deleteTeamResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FootWebService">
    <wsdl:operation name="addTeam">
      <wsdl:input message="tns:addTeam" name="addTeam">
    </wsdl:input>
      <wsdl:output message="tns:addTeamResponse" name="addTeamResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTeam">
      <wsdl:input message="tns:deleteTeam" name="deleteTeam">
    </wsdl:input>
      <wsdl:output message="tns:deleteTeamResponse" name="deleteTeamResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPlayer">
      <wsdl:input message="tns:addPlayer" name="addPlayer">
    </wsdl:input>
      <wsdl:output message="tns:addPlayerResponse" name="addPlayerResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FootWebSoapBinding" type="tns:FootWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addTeam">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addTeam">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addTeamResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTeam">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteTeam">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteTeamResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPlayer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addPlayer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addPlayerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FootWeb">
    <wsdl:port binding="tns:FootWebSoapBinding" name="FootService">
      <soap:address location="http://localhost:8080/projet.web.foot/services/FootService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>