projet.web.foot/src/main/webapp/wsdl/footwebservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="FootWeb" targetNamespace="http://www.projet.web.foot" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.projet.web.foot" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://www.projet.web.foot" schemaLocation="footwebservice_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="addTeamResponse">
    <wsdl:part name="parameters" element="tns:addTeamResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPlayerResponse">
    <wsdl:part name="parameters" element="tns:addPlayerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addTeam">
    <wsdl:part name="parameters" element="tns:addTeam">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteTeam">
    <wsdl:part name="parameters" element="tns:deleteTeam">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPlayer">
    <wsdl:part name="parameters" element="tns:addPlayer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteTeamResponse">
    <wsdl:part name="parameters" element="tns:deleteTeamResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FootWebService">
    <wsdl:operation name="addTeam">
      <wsdl:input name="addTeam" message="tns:addTeam">
    </wsdl:input>
      <wsdl:output name="addTeamResponse" message="tns:addTeamResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTeam">
      <wsdl:input name="deleteTeam" message="tns:deleteTeam">
    </wsdl:input>
      <wsdl:output name="deleteTeamResponse" message="tns:deleteTeamResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPlayer">
      <wsdl:input name="addPlayer" message="tns:addPlayer">
    </wsdl:input>
      <wsdl:output name="addPlayerResponse" message="tns:addPlayerResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FootWebSoapBinding" type="tns:FootWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addTeam">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addTeam">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addTeamResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTeam">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteTeam">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteTeamResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPlayer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addPlayer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addPlayerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FootWeb">
    <wsdl:port name="FootService" binding="tns:FootWebSoapBinding">
      <soap:address location="http://localhost:8080/projet.web.foot/services/FootService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
